<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientBinding" />
                <binding name="ClientCallbackBinding" />
                <binding name="CABLE_OPERATOR_PROCESSBinding" />
                <binding name="CABLE_OPERATOR_PROCESSCallbackBinding" />
                <binding name="BankServiceSoapBinding" />
                <binding name="CableServiceSoap" />
                <binding name="ClientSOAP11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ClientSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ode/processes/Client"
                binding="basicHttpBinding" bindingConfiguration="ClientBinding"
                contract="ServiceReference1.Client" name="ClientPort" />
            <endpoint address="http://localhost:8080/ode/processes/ClientCallback"
                binding="basicHttpBinding" bindingConfiguration="ClientCallbackBinding"
                contract="ServiceReference1.ClientCallback" name="ClientPortCallbackPort" />
            <endpoint address="http://localhost:8080/ode/processes/CABLE_OPERATOR_PROCESS"
                binding="basicHttpBinding" bindingConfiguration="CABLE_OPERATOR_PROCESSBinding"
                contract="ServiceReference1.CABLE_OPERATOR_PROCESS" name="CABLE_OPERATOR_PROCESSPort" />
            <endpoint address="http://localhost:8080/ode/processes/CABLE_OPERATOR_PROCESSCallback"
                binding="basicHttpBinding" bindingConfiguration="CABLE_OPERATOR_PROCESSCallbackBinding"
                contract="ServiceReference1.CABLE_OPERATOR_PROCESSCallback"
                name="CABLE_OPERATOR_PROCESSPortCallbackPort" />
            <endpoint address="http://localhost:8080/OnlineShop_Services/services/BankService"
                binding="basicHttpBinding" bindingConfiguration="BankServiceSoapBinding"
                contract="ServiceReference1.BankService" name="BankService" />
            <endpoint address="http://localhost:8077/CableService.asmx" binding="basicHttpBinding"
                bindingConfiguration="CableServiceSoap" contract="ServiceReference1.CableServiceSoap"
                name="CableServiceSoap" />
            <endpoint address="http://localhost:8080/ode/processes/Client"
                binding="basicHttpBinding" bindingConfiguration="ClientSOAP11Binding"
                contract="CableOperator.ClientPortType" name="ClientSOAP11port_http" />
            <endpoint address="http://localhost:8080/ode/processes/Client"
                binding="customBinding" bindingConfiguration="ClientSOAP12Binding"
                contract="CableOperator.ClientPortType" name="ClientSOAP12port_http" />
        </client>
    </system.serviceModel>
</configuration>